<h1>
  Pinky is <%= @most_recent_status %>!
</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Event</th>
      <th>Source</th>
    </tr>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.created_at.strftime("%d %b %Y") %></td>
        <td><%= event.created_at.strftime("%H:%m") %></td>
        <td><%= event.status %></td>
        <td><%= event.source %></td>
        <td><%= button_to "remove", event_path(event), method: :delete %>
      </tr>
    <% end %>
  </tbody>
</table>
